<div>
  <%= image_tag current_user.profile_image_url %>
  <p>
    Username: @<%= current_user.screen_name %>
  </p>
  <p>
    Tweets: <%= @twitter_service.get_tweets_count %>
  </p>
  <p>
    Followers: <%= @twitter_service.get_followers_count %>
  </p>
  <p>
    Following: <%= @twitter_service.get_following_count %>
  </p>
</div>
