<div>
  <% @twitter_service.get_timeline.each do |tweet| %>
  <div>
    <strong><%= tweet.user.name %></strong>
      <span class="username">@<%= tweet.user.screen_name %>
      <%= link_to "(Unfollow)", friend_path(id: tweet.user.id), method: :delete %></span>
      <p><%= tweet.full_text %></p>
      <span><%= link_to "Retweet", retweets_path(id: tweet.id), method: :post %> (<%= tweet.retweet_count %>)</span>
      |
      <span><%= link_to "Like", favorites_path(id: tweet.id), method: :post %> (<%= tweet.favorite_count %>) </span>
    </div>
  <% end %>
</div>
