<h1>Welcome!</h1>

<div style = "margin-bottom: 10px">
  <% if current_user %>
    <p>Hello, <%= current_user.name %></p>
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%= link_to "Login With Twitter", login_path %>
  <% end %>
</div>

<% if current_user %>
  <div style = "margin-bottom: 10px">
  <p>
    Username: @<%= current_user.screen_name %>
  </p>
  <p>
    Tweets: <%= current_user.number_of_tweets %>
  </p>
  <p>
    Followers: <%= current_user.followers %>
  </p>
  <p>
    Following: <%= current_user.following %>
  </p>
  </div>

  <div>
  <p>
    Feed:<br />
    <%#= current_user.tweet_feed %>
    <% current_user.twitter.home_timeline.each do |tweet| %>
          <strong class="fullname js-action-profile-name show-popup-with-id" data-aria-label-part=""><%= tweet.user.name %></strong>
            <span class="username js-action-profile-name" data-aria-label-part=""><s>@</s><b><%= tweet.user.screen_name %></b></span>
            <p class="TweetTextSize  js-tweet-text tweet-text" lang="en" data-aria-label-part="0"><%= tweet.full_text %></p>
            
            <div class="IconContainer js-tooltip" data-original-title="Retweet">
              <span class="Icon Icon--retweet"></span>
              <span class="u-hiddenVisually">Retweet: <%= tweet.retweet_count %></span>
            </div>
            <div class="IconContainer js-tooltip" title="Like">
            <div class="HeartAnimationContainer">
              <div class="HeartAnimation"></div>
            </div>
            <span class="u-hiddenVisually">Like: <%= tweet.favorite_count %></span>
          </div><br /><br />
    <% end %>
  </p>
  </div>
<% end %>
