<h1>Welcome!</h1>

<div style = "margin-bottom: 10px">
  <% if current_user %>
    <p>Hello, <%= current_user.name %></p>
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%= link_to "Login With Twitter", login_path %>
  <% end %>
</div>

<% if current_user %>
  <div>
  <p>
    Username: @<%= current_user.screen_name %>
  </p>
  <p>
    Tweets: <%= @twitter_service.get_tweets_count %>
  </p>
  <p>
    Followers: <%= @twitter_service.get_followers_count %>
  </p>
  <p>
    Following: <%= @twitter_service.get_following_count %>
  </p>
  </div>

  <div>
  <p>
    Feed:<br />
    <% @twitter_service.get_timeline.each do |tweet| %>
          <%= tweet.user.name %> - @<%= tweet.user.screen_name %><br />
          <%= tweet.full_text %><br />
          Favorites: <%= tweet.favorite_count %> <%= link_to "Favorite", favorite_path(tweet.id), method: :patch %> | Retweets: <%= tweet.retweet_count %><br /><br />
    <% end %>
  </p>
  </div>
<% end %>
